
# Generated outputs
query_results/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Databases
*.sqlite3
*.bin

# Large assets
*.mp4
*.tgz


# Model weights
*.pt

# OS files
.DS_Store
Thumbs.db